@model IEnumerable<Motivation.Models.Compitition>

@{
    ViewBag.Title = "GetCompetitions";
    Layout = "~/Views/Shared/Site.cshtml";
}

<div class="dashboard display-animation" style="margin: 0 auto; width: 700px;">
    <span class="tile tile-light-gray ripple-effect" style="width: 99%; height: 70px;">
        <div class="label1" style="text-align: center; font-size: 30px;">
            Отделы
        </div>
    </span>

    <div class="col-sm-2" style="background-image: url(../../Content/Images/event/dep1.png); background-size: cover; background-repeat: no-repeat; width: 300px; height: 376px;">
    </div>

        @foreach (Motivation.Models.Compitition comp in Model)
        {
            @comp.Comment
            <div id="clock"></div>


        }

